html { overflow-y: scroll; }

.glyphicon {
    top: 2px;
}

.avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 3px rgba(0,0,0,0.15);
}

.edit-bar {
    display: none;
}

.tower-toolbar {
    position: fixed;
    right: 0;
    bottom: 0;
}

.tower-toolbar span {
    font-size: 140%;
}
