<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>

    <ul class="list-group" data-bind="foreach: { data: tasks, as: 'task' }">
        <li class="list-group-item task" data-bind="css: { list-group-item-success: task.completed() }">
            <div>
                <img class="avatar" src=""
                     data-bind="attr:{data-src: 'https://towerfiles.oss.aliyuncs.com/avatar/' + $root.user.avatar},
                                visible: task.running()" >
                <span class="label label-danger" data-bind="visible: task.emergency">high</span>
                <span class="label label-primary" data-bind="visible: task.due, text: task.due"></span>
                <span data-bind="html: task.title"></span>
                <span class="badge timer" data-bind="text: task.timerText(), visible: !!task.timerText()"></span>

                <!-- 任务评论 -->
                <div id="task-detail" data-bind="visible: task.showComments()">
                    <div class="input-group input-group-sm comment-input">
                        <input type="text" class="form-control" placeholder="new comment here"
                               data-bind="value: task.newComment, valueUpdate: 'input'">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"
                                    data-bind="click: $parent.addComment, enable: !task.commentSubmitting()">Submit</button>
                        </span>
                    </div>
                    <ul class="list-group comment-list" data-bind="foreach: { data: task.comments, as: 'comment' }">
                        <li class="list-group-item" data-bind="html: comment.content"></li>
                    </ul>
                </div>

                <!-- 任务操作工具栏 -->
                <div class="btn-group btn-group-xs edit-bar">
                    <button type="button" class="btn btn-default" data-bind="click: $parent.toggleTask">
                        <span class="glyphicon" data-bind="css: { glyphicon-pause: task.running(), glyphicon-play: !task.running() }"></span>
                    </button>
                    <button type="button" class="btn btn-default" data-bind="click: $parent.editTask"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button type="button" class="btn btn-default" data-bind="click: $parent.deleteTask"><span class="glyphicon glyphicon-trash"></span></button>
                    <button type="button" class="btn btn-default" data-bind="click: $parent.toggleComments">
                        <span class="glyphicon glyphicon-comment" data-bind="css: { icon-active: task.showComments() }"></span>
                    </button>
                    <button type="button" class="btn btn-default" data-bind="click: $parent.openTaskUrl"><span class="glyphicon glyphicon-share-alt"></span></button>
                    <button type="button" class="btn btn-default" data-bind="click: $parent.finishTask"><span class="glyphicon glyphicon-ok"></span></button>
                </div>
            </div>
        </li>
    </ul>

    <!-- 状态Tip -->
    <div id="statusbar" class="alert alert-success statusbar">
    </div>

    <!-- 底部工具栏 -->
    <div class="btn-group tower-toolbar" role="toolbar">
        <button type="button" class="btn btn-default" data-bind="click: $root.openHome"><span class="glyphicon glyphicon-user"></span></button>
        <button type="button" class="btn btn-default" data-bind="click: $root.openProject"><span class="glyphicon glyphicon-tasks"></span></button>
        <button type="button" class="btn btn-default" data-bind="click: $root.refresh"><span class="glyphicon glyphicon-refresh"></span></button>
    </div>


    <script src="/lib/jquery.js"></script>
    <script src="/lib/underscore.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/knockout.js"></script>
    <script src="/lib/knockout-secure-binding.js"></script>
    <script src="/lib/app-resource-loader.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
