<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="/lib/bootstrap/css/datepicker3.css" rel="stylesheet">
      <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>

    <img id="loading" src="/img/loading.gif" data-bind="visible: loading() "/>

    <!-- ko template: 'main' --><!-- /ko -->
    <script id="main" type="text/html">

    <div data-bind="foreach: { data: projects, as: 'project' }">
    <!-- 项目标题 + 链接 -->
    <div class="proj-info">
        <a target="_blank" data-bind="attr: { href: project.url }">
            <h2 class="proj-title" data-bind="text: project.name"></h2>
        </a>
        <!-- 新任务按钮 -->
        <div class="btn-group btn-group-xs project-toolbar">
            <button type="button" class="btn btn-default" data-bind="click: $root.toggleCreateTask">
                <span class="glyphicon glyphicon-plus" data-bind="css: { icon-active: project.showCreateTask() }"></span>
            </button>
        </div>
        <!-- 新任务编辑框 -->
        <div class="create-task" data-bind="visible: project.showCreateTask()">
            <div class="input-group input-group-sm comment-input">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span data-bind="text: project.selectedTodolistName"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" data-bind="foreach: { data: project.todolists, as: todolist }">
                        <li><a href="#" data-bind="text: $data.name, click: $parent.selectTodolist"></a></li>
                    </ul>
                </div>
                <span class="input-group-addon task-date-picker" data-bind="datepicker: project.newTaskDate">
                    <i class="glyphicon glyphicon-calendar"></i>
                    <span data-bind="text: project.newTaskDate"></span>
                </span>
                <input type="text" class="form-control" placeholder="new task here"
                       data-bind="value: project.newTask, valueUpdate: 'input'">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                        data-bind="click: $root.createTask, enable: !project.taskCreating()">Create</button>
            </span>
            </div>
        </div>
    </div>
    <!-- 项目任务列表 -->
    <ul class="list-group" data-bind="foreach: { data: project.tasks, as: 'task' }">
        <li class="list-group-item task" data-bind="css: { list-group-item-success: task.completed() }">
            <div>
                <img class="avatar" src=""
                     data-bind="attr:{data-src: 'https://towerfiles.oss.aliyuncs.com/avatar/' + $root.user.avatar},
                                visible: task.running()" >
                <span class="label label-danger" data-bind="visible: task.emergency">high</span>
                <span class="label label-primary" data-bind="visible: task.due, text: task.due"></span>
                <span data-bind="html: task.title"></span>
                <span class="badge timer" data-bind="text: task.timerText(), visible: !!task.timerText()"></span>

                <!-- 任务评论 -->
                <div id="task-detail" data-bind="visible: task.showComments()">
                    <div class="input-group input-group-sm comment-input">
                        <input type="text" class="form-control" placeholder="new comment here"
                               data-bind="value: task.newComment, valueUpdate: 'input'">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"
                                    data-bind="click: $root.addComment, enable: !task.commentSubmitting()">Submit</button>
                        </span>
                    </div>
                    <ul class="list-group comment-list" data-bind="foreach: { data: task.comments, as: 'comment' }">
                        <li class="list-group-item" data-bind="html: comment.content"></li>
                    </ul>
                </div>

                <!-- 任务操作工具栏 -->
                <div class="btn-group btn-group-xs edit-bar">
                    <button type="button" class="btn btn-default" data-bind="click: $root.toggleTask">
                        <span class="glyphicon" data-bind="css: { glyphicon-pause: task.running(), glyphicon-play: !task.running() }"></span>
                    </button>
                    <button type="button" class="btn btn-default" data-bind="click: $root.editTask"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button type="button" class="btn btn-default" data-bind="click: $root.deleteTask"><span class="glyphicon glyphicon-trash"></span></button>
                    <button type="button" class="btn btn-default" data-bind="click: $root.toggleComments">
                        <span class="glyphicon glyphicon-comment" data-bind="css: { icon-active: task.showComments() }"></span>
                    </button>
                    <a class="btn btn-default" target="_blank" data-bind="attr: { href: task.url }"><span class="glyphicon glyphicon-share-alt"></span></a>
                    <button type="button" class="btn btn-default" data-bind="click: $root.finishTask"><span class="glyphicon glyphicon-ok"></span></button>
                </div>
            </div>
        </li>
    </ul>
    </div>
    </div>

    <!-- 状态Tip -->
    <div id="statusbar" class="alert alert-success statusbar">
    </div>

    <!-- 底部工具栏 -->
    <div class="btn-group tower-toolbar" role="toolbar">
        <a class="btn btn-default" target="_blank" data-bind="attr: { href: homeUrl }"><span class="glyphicon glyphicon-user"></span></a>
        <a class="btn btn-default" target="_blank" data-bind="attr: { href: projectUrl }"><span class="glyphicon glyphicon-tasks"></span></a>
        <button type="button" class="btn btn-default" data-bind="click: $root.refresh"><span class="glyphicon glyphicon-refresh"></span></button>
    </div>

    </script>

    <script src="/lib/jquery.js"></script>
    <script src="/lib/underscore.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap-datepicker.js"></script>
    <script src="/lib/knockout.js"></script>
    <script src="/lib/knockout-secure-binding.js"></script>
    <script src="/lib/app-resource-loader.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
